<%- include('../../partials/header.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Listing of categories</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>TItle</th>
                        <th>Slug</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(category => { %>
                        <tr>
                            <td><%= category.id %> </td>
                            <td><%= category.title %> </td>
                            <td><%= category.slug %> </td>
                            <td>
                                
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %> 